<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% Object.keys(restaurants).forEach(function (name) { %>
      <h4><%= name %></h4>
      <% restaurants[name].forEach(function (o) { %>
        <h5><%= o.proxy %></h5>
        <ul>
          <% Object.keys(o).forEach(function (e) { %>
            <li><%= o.e %></li>
          <% }) %>
        </ul>
      <% }) %>
      <hr/>
    <% }) %>
  </body>
</html>
