<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form action="/location" method="GET">
    <input type='text' name='p' placeholder="输入位置">
    </form>
  </body>
  </html>